// Functional
.cu-pointer {
  cursor: pointer;
}

// Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

// Sizeing
.w-fit {
  width: fit-content;
}
