.trailerModal {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  animation: openModal 0.45s forwards;
  
  @keyframes openModal {
    80% {
      transform: scale(1.15);
    }

    100% {
      transform: scale(1);
    }
  }
}
