.homeCoverSection {
  position: relative;
  height: 80vh;

  .imgBox {
    height: 95vh;
    z-index: 1;

    img {
      object-fit: fill;
    }
  }

  .data {
    z-index: 5;
    position: relative;

    .info {
      padding-top: 150px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;

      .title {
        font-size: 3.5rem;
        margin-bottom: 20px;
      }

      & > * {
        width: 100%;
        max-width: 600px;
      }
      
      & > .prgraph {
        max-height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: 2;
    inset: 0;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 555px) {
    .data .info {
      .title {
        font-size: 2.5rem;
      }
    }
  }
}
